## `å»šå¸«v.sè³‡æ–™åˆ†æå¸«`
|  å»šå¸«       |       |è³‡æ–™åˆ†æå¸«  |
|  ----  | ----  |----  | 
|  æ¡è²·å‚™æ–™  |**é å‚™éšæ®µ** |è³‡æ–™æ¸…ç†|
| æ«¥æ«ƒ      | **å­˜æ”¾ç©ºé–“**|è³‡æ–™å„²å­˜|
| å»šå…· | **ä½¿ç”¨å·¥å…·**|åˆ†æå·¥å…· |
|  å»šæˆ¿ | **ç’°å¢ƒåœ°é»**|é‹ç®—ç’°å¢ƒ |
|  æ–™ç†éšæ®µ | **åŸ·è¡Œéšæ®µ**| è³‡æ–™å»ºæ¨¡åˆ†æ|
|  æ“ºç›¤è¨­è¨ˆ | **çµæœå‘ˆç¾**|è³‡æ–™è¦–è¦ºåŒ– |
|   ä¸Šèœ| **å®Œæˆå“**|åˆ†æçµæœ |
|  å®¢äºº | **éœ€æ±‚ç«¯**|å®¢æˆ¶ |

## `è³‡æ–™åˆ†æè»Ÿé«”`
1. å¹³è¡Œé‹ç®—
    - Zookeeeper
    - Hive 
    - Hbase
    - pig 
    - Mahout 
    - hadoop
    - Storm
    - Apache Spark

2. è³‡æ–™è¦–è¦ºåŒ–
    - Gephi
    - Fusion Tables
    - Dataiku DSS
    - ITALASSI
    - **Tableau**

3. æ•¸å€¼çµ±è¨ˆè¨ˆç®—
    - Waffles
    - octave
    - Weka
    - Stata
    - ELKI
    - matlab
    - Tanagra
    - Alteryx Designer

4. è³‡æ–™åº«
    - Oracle
    - SQL Server
    - Mongo DB
    - My SQL
    - Cloud Spanner
    - Access è³‡æ–™åº«

5. è³‡æ–™æ¸…ç†
    - OpenRefine
    - datawrange
    - QlikView

6. åŸºç¤ç¨‹å¼è¨­è¨ˆ
    - PASCAL
    - SAS
    - perl
    - python
    - Scala
    - Julia
    - R
    - JAVA

## <mark> ç©è½‰è³‡æ–™

In [1]:
# å¤šç¶­é™£åˆ—

[1,2,3,4,5,6]

6-element Vector{Int64}:
 1
 2
 3
 4
 5
 6

In [2]:
[1 2 3 4 5 6]

1Ã—6 Matrix{Int64}:
 1  2  3  4  5  6

In [3]:
[1 2 3 ; 4 5 6 ; 7 8 9]

3Ã—3 Matrix{Int64}:
 1  2  3
 4  5  6
 7  8  9

In [4]:
[1 2 3 4 ; 5 6 7 8 ]

2Ã—4 Matrix{Int64}:
 1  2  3  4
 5  6  7  8

In [5]:
A = [1 2 3 4 ; 5 6 7 8 ; 9 10 11 12]

3Ã—4 Matrix{Int64}:
 1   2   3   4
 5   6   7   8
 9  10  11  12

In [6]:
A[2,3]

7

In [7]:
A[:,1:2]

3Ã—2 Matrix{Int64}:
 1   2
 5   6
 9  10

In [8]:
A[2:end,2:end]

2Ã—3 Matrix{Int64}:
  6   7   8
 10  11  12

In [9]:
A[:,1:end-1]

3Ã—3 Matrix{Int64}:
 1   2   3
 5   6   7
 9  10  11

#### `çŸ©é™£`

In [10]:
A = [1 2 3 ; 4 5 6 ; 7 8 9]
B = [9 8 7 ; 6 5 4 ; 3 2 1]

3Ã—3 Matrix{Int64}:
 9  8  7
 6  5  4
 3  2  1

In [11]:
A+B

3Ã—3 Matrix{Int64}:
 10  10  10
 10  10  10
 10  10  10

In [12]:
A.+B

3Ã—3 Matrix{Int64}:
 10  10  10
 10  10  10
 10  10  10

In [13]:
A*B  # çŸ©é™£ç›¸ä¹˜ ç›´æ¥ç”¨ "*"

3Ã—3 Matrix{Int64}:
  30   24  18
  84   69  54
 138  114  90

In [14]:
eltype(A)

Int64

In [15]:
length(A)

9

In [16]:
ndims(B)

2

In [17]:
size(B)

(3, 3)

In [18]:
a = [1,2,3]

3-element Vector{Int64}:
 1
 2
 3

In [19]:
b=[5,5,5]

3-element Vector{Int64}:
 5
 5
 5

In [20]:
a+b

3-element Vector{Int64}:
 6
 7
 8

In [21]:
a.+b

3-element Vector{Int64}:
 6
 7
 8

In [22]:
a'  # transpose

1Ã—3 adjoint(::Vector{Int64}) with eltype Int64:
 1  2  3


\begin{bmatrix}
   a & b& c 
\end{bmatrix}

In [23]:
# broadcast è‡ªå‹•æ“´å±•

a'.+b   # éœ€è¦ "."

3Ã—3 Matrix{Int64}:
 6  7  8
 6  7  8
 6  7  8

In [24]:
[a';a';a'] + [b b b]

3Ã—3 Matrix{Int64}:
 6  7  8
 6  7  8
 6  7  8

\
\begin{bmatrix}
    x_{11}       & x_{12} & x_{13} & \dots & x_{1n} \\
    x_{21}       & x_{22} & x_{23} & \dots & x_{2n} \\
    x_{d1}       & x_{d2} & x_{d3} & \dots & x_{dn}
\end{bmatrix}

In [25]:
a'*b

30

In [26]:
a'.*b

3Ã—3 Matrix{Int64}:
 5  10  15
 5  10  15
 5  10  15

In [27]:
# broadcast è‡ªå‹•æ“´å±•
[a';a';a'] .* [b b b]

3Ã—3 Matrix{Int64}:
 5  10  15
 5  10  15
 5  10  15

In [28]:
f(x,y) = 2x+y

f (generic function with 1 method)

In [29]:
f.(a',b)

3Ã—3 Matrix{Int64}:
 7  9  11
 7  9  11
 7  9  11

### `A`

In [30]:
A

3Ã—3 Matrix{Int64}:
 1  2  3
 4  5  6
 7  8  9

In [31]:
A*B

3Ã—3 Matrix{Int64}:
  30   24  18
  84   69  54
 138  114  90

In [32]:
sum(A)

45

In [33]:
maximum(A)

9

In [34]:
minimum(A)

1

In [35]:
minimum(A,dims=1)

1Ã—3 Matrix{Int64}:
 1  2  3

In [36]:
A=[3 3 3 ; 3 3 3 ; 3 3 3]
accumulate(+,A,dims=1)

3Ã—3 Matrix{Int64}:
 3  3  3
 6  6  6
 9  9  9

In [37]:
accumulate(+,A,dims=2)

3Ã—3 Matrix{Int64}:
 3  6  9
 3  6  9
 3  6  9

In [38]:
cumsum(A,dims=2)

3Ã—3 Matrix{Int64}:
 3  6  9
 3  6  9
 3  6  9

In [39]:
cumprod(A,dims=2)

3Ã—3 Matrix{Int64}:
 3  9  27
 3  9  27
 3  9  27

## `O çŸ©é™£`

In [40]:
zeros(3,5)

3Ã—5 Matrix{Float64}:
 0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0
 0.0  0.0  0.0  0.0  0.0

In [41]:
ones(3,2)

3Ã—2 Matrix{Float64}:
 1.0  1.0
 1.0  1.0
 1.0  1.0

In [42]:
ones(Int,3,3)

3Ã—3 Matrix{Int64}:
 1  1  1
 1  1  1
 1  1  1

In [43]:
zeros(Bool,2,2)

2Ã—2 Matrix{Bool}:
 0  0
 0  0

In [44]:
falses(2,3)

2Ã—3 BitMatrix:
 0  0  0
 0  0  0

In [45]:
trues(4,3)

4Ã—3 BitMatrix:
 1  1  1
 1  1  1
 1  1  1
 1  1  1

In [46]:
rand(3,3)

3Ã—3 Matrix{Float64}:
 0.551048  0.247556  0.386813
 0.408066  0.458047  0.629352
 0.333174  0.211848  0.344243

In [47]:
randn(5,2)

5Ã—2 Matrix{Float64}:
 -3.00882   0.785882
  0.310914  0.0620331
  0.52167   0.842477
  1.55913   0.722886
  1.14511   1.60939

In [48]:
fill(520,3,3)

3Ã—3 Matrix{Int64}:
 520  520  520
 520  520  520
 520  520  520

In [49]:
fill("ğŸŒ",2,2)

2Ã—2 Matrix{String}:
 "ğŸŒ"  "ğŸŒ"
 "ğŸŒ"  "ğŸŒ"

In [50]:
A = zeros(2,2)

fill!(A,818)

2Ã—2 Matrix{Float64}:
 818.0  818.0
 818.0  818.0

In [51]:
X = copy(A)

2Ã—2 Matrix{Float64}:
 818.0  818.0
 818.0  818.0

In [52]:
repeat(A,3)

6Ã—2 Matrix{Float64}:
 818.0  818.0
 818.0  818.0
 818.0  818.0
 818.0  818.0
 818.0  818.0
 818.0  818.0

In [53]:
x = rand(5)

5-element Vector{Float64}:
 0.05684313267016783
 0.8264603537380204
 0.01709841745962326
 0.5018434864992058
 0.1393789315651658

In [54]:
sort(x)

5-element Vector{Float64}:
 0.01709841745962326
 0.05684313267016783
 0.1393789315651658
 0.5018434864992058
 0.8264603537380204

In [55]:
sort(x,rev=true)  # åè½‰

5-element Vector{Float64}:
 0.8264603537380204
 0.5018434864992058
 0.1393789315651658
 0.05684313267016783
 0.01709841745962326

In [56]:
x # æœªæ”¹è®Š åŸå…ˆçš„

5-element Vector{Float64}:
 0.05684313267016783
 0.8264603537380204
 0.01709841745962326
 0.5018434864992058
 0.1393789315651658

In [57]:
sort!(x)  # æ”¹è®Šæœ¬è³ª

5-element Vector{Float64}:
 0.01709841745962326
 0.05684313267016783
 0.1393789315651658
 0.5018434864992058
 0.8264603537380204

In [58]:
x  # åŸé™£åˆ— æ›´å‹•

5-element Vector{Float64}:
 0.01709841745962326
 0.05684313267016783
 0.1393789315651658
 0.5018434864992058
 0.8264603537380204

In [59]:
y = randn(6)

6-element Vector{Float64}:
 -1.3564160708828894
 -0.8778685625115491
 -0.26764058831769877
  0.20331605164918556
 -0.21237006724709467
  0.738640710565933

In [60]:
sort(y)

6-element Vector{Float64}:
 -1.3564160708828894
 -0.8778685625115491
 -0.26764058831769877
 -0.21237006724709467
  0.20331605164918556
  0.738640710565933

In [61]:
# çµ•å°å€¼å¤§å°

sort(y,by=abs)

6-element Vector{Float64}:
  0.20331605164918556
 -0.21237006724709467
 -0.26764058831769877
  0.738640710565933
 -0.8778685625115491
 -1.3564160708828894

## `reshape`

In [62]:
reshape(1:12,3,4)

3Ã—4 reshape(::UnitRange{Int64}, 3, 4) with eltype Int64:
 1  4  7  10
 2  5  8  11
 3  6  9  12

## `cat é™£åˆ—ç›¸æ¥`

In [63]:
a = fill(1,3,3)
b = fill(2,3,3)

3Ã—3 Matrix{Int64}:
 2  2  2
 2  2  2
 2  2  2

In [64]:
cat(a,b,dims=1)

6Ã—3 Matrix{Int64}:
 1  1  1
 1  1  1
 1  1  1
 2  2  2
 2  2  2
 2  2  2

In [65]:
cat(a,b,dims=2)

3Ã—6 Matrix{Int64}:
 1  1  1  2  2  2
 1  1  1  2  2  2
 1  1  1  2  2  2

In [66]:
# horizontal
hcat(a,b)

3Ã—6 Matrix{Int64}:
 1  1  1  2  2  2
 1  1  1  2  2  2
 1  1  1  2  2  2

In [67]:
vcat(a,b)

6Ã—3 Matrix{Int64}:
 1  1  1
 1  1  1
 1  1  1
 2  2  2
 2  2  2
 2  2  2

## <mark> DateFrames

In [68]:
using DataFrames

In [69]:
df = DataFrame(A=1:5,B=["ğŸ","ğŸŒ","ğŸ‘","ğŸ‡","ğŸ‰"])

5Ã—2 DataFrame
 Row â”‚ A      B
     â”‚ Int64  String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     1  ğŸ
   2 â”‚     2  ğŸŒ
   3 â”‚     3  ğŸ‘
   4 â”‚     4  ğŸ‡
   5 â”‚     5  ğŸ‰

In [70]:
df = DataFrame()   # ç©ºç™½

0Ã—0 DataFrame

In [71]:
df.A = 1:4

1:4

In [72]:
df.B = ["ğŸ","ğŸŒ","ğŸ‘","ğŸ‡"]

4-element Vector{String}:
 "ğŸ"
 "ğŸŒ"
 "ğŸ‘"
 "ğŸ‡"

In [73]:
df

4Ã—2 DataFrame
 Row â”‚ A      B
     â”‚ Int64  String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     1  ğŸ
   2 â”‚     2  ğŸŒ
   3 â”‚     3  ğŸ‘
   4 â”‚     4  ğŸ‡

In [74]:
## é å…ˆæŒ‡å®š

df = DataFrame(A=Int64[],B=String[],C=Float64[])

0Ã—3 DataFrame
 Row â”‚ A      B       C
     â”‚ Int64  String  Float64
â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

In [75]:
push!(df,(1,"Ray",5.2))

1Ã—3 DataFrame
 Row â”‚ A      B       C
     â”‚ Int64  String  Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     1  Ray         5.2

In [76]:
# å­—å…¸æ ¼å¼
push!(df,(2,"Lion",3.6))
push!(df,[3,"Tin",6.2])
push!(df,Dict(:A=>4,:B=>"Jay",:C=>2.2))

4Ã—3 DataFrame
 Row â”‚ A      B       C
     â”‚ Int64  String  Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     1  Ray         5.2
   2 â”‚     2  Lion        3.6
   3 â”‚     3  Tin         6.2
   4 â”‚     4  Jay         2.2

### `ç”±çŸ©é™£å»ºç«‹ DataFrame`

In [77]:
mat = [1 "M";2 "F";3 "M" ; 4 "M"]

4Ã—2 Matrix{Any}:
 1  "M"
 2  "F"
 3  "M"
 4  "M"

In [78]:
DataFrame(mat,[:Name,:Gender])

4Ã—2 DataFrame
 Row â”‚ Name  Gender
     â”‚ Any   Any
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ 1     M
   2 â”‚ 2     F
   3 â”‚ 3     M
   4 â”‚ 4     M

In [79]:
d = Dict("RayRay"=>[98,99,95],"Lion"=>[78,88,91])

DataFrame(d)

3Ã—2 DataFrame
 Row â”‚ Lion   RayRay
     â”‚ Int64  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚    78      98
   2 â”‚    88      99
   3 â”‚    91      95

In [80]:
df = DataFrame(A=1:4,B=["M","F","F","M"])

4Ã—2 DataFrame
 Row â”‚ A      B
     â”‚ Int64  String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     1  M
   2 â”‚     2  F
   3 â”‚     3  F
   4 â”‚     4  M

In [81]:
# df[:A] -> df[!,:A]
# ä¿®æ”¹æˆ
df[!,:A]

4-element Vector{Int64}:
 1
 2
 3
 4

In [82]:
df[!,1]

4-element Vector{Int64}:
 1
 2
 3
 4

In [83]:
df[:,1]

4-element Vector{Int64}:
 1
 2
 3
 4

In [84]:
df.A

4-element Vector{Int64}:
 1
 2
 3
 4

In [85]:
df[1,:]

DataFrameRow
 Row â”‚ A      B
     â”‚ Int64  String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     1  M

In [86]:
df[1,"A"]

1

In [87]:
df[1,:A]

1

In [88]:
df[1,1]

1

In [89]:
df[1:3,:A]

3-element Vector{Int64}:
 1
 2
 3

In [90]:
df[2:3,[:B,:A]]

2Ã—2 DataFrame
 Row â”‚ B       A
     â”‚ String  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ F           2
   2 â”‚ F           3

In [91]:
df[2:3,[:A,:B]]

2Ã—2 DataFrame
 Row â”‚ A      B
     â”‚ Int64  String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     2  F
   2 â”‚     3  F

In [92]:
df[2:3,["A","B"]]

2Ã—2 DataFrame
 Row â”‚ A      B
     â”‚ Int64  String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     2  F
   2 â”‚     3  F

In [93]:
df[2:3,1:2]

2Ã—2 DataFrame
 Row â”‚ A      B
     â”‚ Int64  String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     2  F
   2 â”‚     3  F

In [94]:
# change

df[1,:A]=69

69

In [95]:
df

4Ã—2 DataFrame
 Row â”‚ A      B
     â”‚ Int64  String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚    69  M
   2 â”‚     2  F
   3 â”‚     3  F
   4 â”‚     4  M

In [96]:
df[!,:B]=["L","O","V","E"]

4-element Vector{String}:
 "L"
 "O"
 "V"
 "E"

In [97]:
df

4Ã—2 DataFrame
 Row â”‚ A      B
     â”‚ Int64  String
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚    69  L
   2 â”‚     2  O
   3 â”‚     3  V
   4 â”‚     4  E

## `å­˜æª” .csv`

In [98]:
using CSV

In [99]:
CSV.write("06_csv.csv",df)

"06_csv.csv"

In [100]:
mv("06_csv.csv","ch6_csv.csv")   # æª”æ¡ˆä½ç§»åŠæ›´å

LoadError: ArgumentError: 'ch6_csv.csv' exists. `force=true` is required to remove 'ch6_csv.csv' before moving.

## `è®€å–CSV`

In [101]:
df = CSV.read("ch6_csv.csv",DataFrame)

4Ã—2 DataFrame
 Row â”‚ A      B
     â”‚ Int64  String1
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚    69  L
   2 â”‚     2  O
   3 â”‚     3  V
   4 â”‚     4  E

In [102]:
# è®€å–å¤–éƒ¨æª”æ¡ˆ
df = CSV.read("Korea.csv",DataFrame)

17Ã—3 DataFrame
 Row â”‚ City               share07  total07
     â”‚ String31?          Int64?   Int64?
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Busan               898870  1711418
   2 â”‚ Chungcheongbuk-do   203776   625761
   3 â”‚ Chungcheongnam-do   123054   780517
   4 â”‚ Daegu               679375  1088038
   5 â”‚ Daejeon             133838   598358
   6 â”‚ Gangwon-do          290070   668095
   7 â”‚ Gwangju                720   585716
   8 â”‚ Gyeonggi-do        1760838  4330231
   9 â”‚ Gyeongsangbuk-do    670963  1229173
  10 â”‚ Gyeongsangnam-do    667404  1398804
  11 â”‚ Incheon             409477  1050236
  12 â”‚ Jeju                 95276   237196
  13 â”‚ Jeollabuk-do          1221   854182
  14 â”‚ Jeollanam-do          7869   934821
  15 â”‚ Seoul              1973313  4776870
  16 â”‚ Ulsan               167545   461354
  17 â”‚ missing            missing  missing

In [103]:
df=df[1:16,:]

16Ã—3 DataFrame
 Row â”‚ City               share07  total07
     â”‚ String31?          Int64?   Int64?
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Busan               898870  1711418
   2 â”‚ Chungcheongbuk-do   203776   625761
   3 â”‚ Chungcheongnam-do   123054   780517
   4 â”‚ Daegu               679375  1088038
   5 â”‚ Daejeon             133838   598358
   6 â”‚ Gangwon-do          290070   668095
   7 â”‚ Gwangju                720   585716
   8 â”‚ Gyeonggi-do        1760838  4330231
   9 â”‚ Gyeongsangbuk-do    670963  1229173
  10 â”‚ Gyeongsangnam-do    667404  1398804
  11 â”‚ Incheon             409477  1050236
  12 â”‚ Jeju                 95276   237196
  13 â”‚ Jeollabuk-do          1221   854182
  14 â”‚ Jeollanam-do          7869   934821
  15 â”‚ Seoul              1973313  4776870
  16 â”‚ Ulsan               167545   461354

## `å¯«å…¥` 
```
CSV.write("Name.csv",df,delim='\t')
```

## `é‹ç®—`

In [104]:
df = DataFrame(A=1:5,B=6:10)

5Ã—2 DataFrame
 Row â”‚ A      B
     â”‚ Int64  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     1      6
   2 â”‚     2      7
   3 â”‚     3      8
   4 â”‚     4      9
   5 â”‚     5     10

In [105]:
df[!,:"C=A+B"] = df[!,:A] .+ df[!,:B]
df[!,:"A+B"] = df[!,:A] .+ df[!,:B]

5-element Vector{Int64}:
  7
  9
 11
 13
 15

In [106]:
df

5Ã—4 DataFrame
 Row â”‚ A      B      C=A+B  A+B
     â”‚ Int64  Int64  Int64  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     1      6      7      7
   2 â”‚     2      7      9      9
   3 â”‚     3      8     11     11
   4 â”‚     4      9     13     13
   5 â”‚     5     10     15     15

In [107]:
df[:,:D] = df[:,:A] .* df[:,:B]

5-element Vector{Int64}:
  6
 14
 24
 36
 50

In [108]:
df[:,:E] = df[:,:A] .<= df[:,:B]

5-element BitVector:
 1
 1
 1
 1
 1

In [109]:
df

5Ã—6 DataFrame
 Row â”‚ A      B      C=A+B  A+B    D      E
     â”‚ Int64  Int64  Int64  Int64  Int64  Bool
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     1      6      7      7      6  true
   2 â”‚     2      7      9      9     14  true
   3 â”‚     3      8     11     11     24  true
   4 â”‚     4      9     13     13     36  true
   5 â”‚     5     10     15     15     50  true

In [110]:
df[df[!,:A].<=3,:]

3Ã—6 DataFrame
 Row â”‚ A      B      C=A+B  A+B    D      E
     â”‚ Int64  Int64  Int64  Int64  Int64  Bool
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     1      6      7      7      6  true
   2 â”‚     2      7      9      9     14  true
   3 â”‚     3      8     11     11     24  true

In [111]:
f(x) =2x^2+x+1

f (generic function with 2 methods)

In [112]:
df[:,:F] = f.(df[:,:A])   # å‡½æ•¸æ‡‰ç”¨

5-element Vector{Int64}:
  4
 11
 22
 37
 56

In [113]:
df

5Ã—7 DataFrame
 Row â”‚ A      B      C=A+B  A+B    D      E     F
     â”‚ Int64  Int64  Int64  Int64  Int64  Bool  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     1      6      7      7      6  true      4
   2 â”‚     2      7      9      9     14  true     11
   3 â”‚     3      8     11     11     24  true     22
   4 â”‚     4      9     13     13     36  true     37
   5 â”‚     5     10     15     15     50  true     56

In [114]:
# å¯ä»¥ç”¨ mapcols , å°æ•´å€‹ df ä½œ x.^2

mapcols(x->x.^2,df)

5Ã—7 DataFrame
 Row â”‚ A      B      C=A+B  A+B    D      E     F
     â”‚ Int64  Int64  Int64  Int64  Int64  Bool  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     1     36     49     49     36  true     16
   2 â”‚     4     49     81     81    196  true    121
   3 â”‚     9     64    121    121    576  true    484
   4 â”‚    16     81    169    169   1296  true   1369
   5 â”‚    25    100    225    225   2500  true   3136

In [115]:
df

5Ã—7 DataFrame
 Row â”‚ A      B      C=A+B  A+B    D      E     F
     â”‚ Int64  Int64  Int64  Int64  Int64  Bool  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     1      6      7      7      6  true      4
   2 â”‚     2      7      9      9     14  true     11
   3 â”‚     3      8     11     11     24  true     22
   4 â”‚     4      9     13     13     36  true     37
   5 â”‚     5     10     15     15     50  true     56

In [116]:
sort(df,:D,rev=true)

5Ã—7 DataFrame
 Row â”‚ A      B      C=A+B  A+B    D      E     F
     â”‚ Int64  Int64  Int64  Int64  Int64  Bool  Int64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚     5     10     15     15     50  true     56
   2 â”‚     4      9     13     13     36  true     37
   3 â”‚     3      8     11     11     24  true     22
   4 â”‚     2      7      9      9     14  true     11
   5 â”‚     1      6      7      7      6  true      4

In [117]:
Matrix(df)  # DataFrame --> Matrix

5Ã—7 Matrix{Int64}:
 1   6   7   7   6  1   4
 2   7   9   9  14  1  11
 3   8  11  11  24  1  22
 4   9  13  13  36  1  37
 5  10  15  15  50  1  56